@{
    ViewData["Title"] = "UsuarioHome";
}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a asp-action="Logout">Logout</a>
    </li>
</ul>
<h2>UsuarioHome</h2>
<hr />
<h3>Esta é página do Usuário</h3>
<p>
    <div>
        Exemplo de autenticação usando cookies usando uma abordagem com ADO .NET
    </div>
</p>